{% extends '../layouts/base.html' %}

{% block main %}
<br>
<h1 style="text-align: center;">Bảng chấm công của {{ request.user.first_name }} {{ request.user.last_name }}</h1>
<br>
<table class="table table-hover table-bordered">
  <thead class="bg-tab">
    <tr>
      <th scope="col">Ngày làm</th>
      <th scope="col">Vào ca</th>
      <th scope="col">Hết ca</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">Giờ làm</th>
      <th scope="col">Lương</th>
    </tr>
  </thead>
  <tbody>
    {% for sheet in sheets %}
    <tr>
      <td>{{ sheet.date|date:"d/m/Y" }}</td>
      <td>{{ sheet.checkin|date:"H:i" }}</td>
      <td>{{ sheet.checkout|date:"H:i" }}</td>
      <td>{{ sheet.status }}</td>
      <td>{{ sheet.work_hour }}</td>
      <td>{{ sheet.salary }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<h3 style="text-align: center;">Thống kê</h3>
<div class="row justify-content-center">
  <div class="col-5">
    <div class="mb-2" style="font-size: 18px; color: blue; text-align: end;">Đi làm trễ:</div>
    <div class="mb-2" style="font-size: 18px; color: blue; text-align: end;">Tổng giờ làm:</div>
    <div class="mb-2" style="font-size: 18px; color: blue; text-align: end;">Tổng tiền lương:</div>
  </div>
  <div class="col-5">
    <div class="mb-2" style="font-size: 18px; text-align: start;">{{ sheets.count_late }} buổi</div>
    <div class="mb-2" style="font-size: 18px; text-align: start;">{{ sheets.total_hour|floatformat:2 }} giờ</div>
    <div class="mb-2" style="font-size: 18px; text-align: start;"> {{ sheets.total_salary|floatformat:2 }} VNĐ</div>
  </div>
</div>
{% endblock %}